

<div class="container">
  <div class="row">
    <h1 class="text-center">index menu</h1>
      <div class="text-center">
        <% @menus.each do |menu| %>
          <div class="text-center">
            <h2>nom: <%= menu.name %></h2>
            <h3>description: <%= menu.description %></h3>
            <h5><%= link_to "menu show", foodtruck_menus_path(@foodtruck), class: "btn btn-primary" %></h5>
            <h5><%= link_to "Retour", foodtruck_path(@foodtruck), class: "btn btn-primary" %></h5>
          </div>
        <% end %>
      </div>
  </div>
</div>
