/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.section-title {
  text-align:  center;
}
.wrapper{
  margin: 20px;
  margin-left: 70px;
  margin-right: 70px;

}
