<div class="container text-center padded features">
  <div class="row">
    <% @foodtrucks.each do |foodtruck| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to foodtruck_path(foodtruck) do %>
          <div class="home-card">
            <% if foodtruck.photos? %>
              <%= cl_image_tag foodtruck.photo.path, width: 400, height: 300, crop: :fill %>
            <% end %>
            <h2><%= foodtruck.name %></h2>
            <p><%= foodtruck.format %></p>
          </div>
        <% end %>
      </div>
    <% end %>


    </div>
  </div>
</div>
