
  <div class="banner">
    <div class="banner-content">
      <h1>THE FOOD TRUCK AGENCY</h1>
      <p>Réserver facilement votre foodtruck pour un évènement !</p>
      <a><%= link_to "Find a food truck", foodtrucks_path, class: "btn btn-danger" %></a>
    </div>
  </div>
<div class="text-center">
  <h1 class="text-center"><strong>Découvrez et réservez l’un de nos Food Trucks partenaires</strong></h1>
  <p>Partout en France bénéficiez d’un large choix de Food Trucks pour restaurer vos invités !</p>
</div>

<div class="container text-center padded features">
  <div class="row">
    <% @foodtrucks.first(4).each do |foodtruck| %>
      <%= render "foodtrucks/card", foodtruck: foodtruck %>
    <% end %>
    </div>
  </div>
</div>



