<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lejournaldeleco.fr/wp-content/uploads/2015/02/5-food-truck-lecookpit-mariage.jpg');">
  <div class="banner-content">
    <h1>The Food Truck Agency</h1>
    <p>Find the Food Truck you NEED !</p>
    <a><%= link_to "Find a food truck", foodtrucks_path, class: "btn btn-danger" %></a>
  </div>
</div>

<div class="text-center">
  <h1 class="text-center">FOOD TRUCKS</h1>

</div>
