<div class="col-xs-12 col-sm-6 col-md-3">
  <%= link_to foodtruck_path(foodtruck) do %>
    <div class="home-card">
      <% if foodtruck.photos.any? %>
        <%= cl_image_tag foodtruck.photos.first.path, width: 400, height: 300, crop: :fill %>
      <% end %>
      <h2><%= foodtruck.name %></h2>
      <p><%= foodtruck.format %></p>
    </div>
  <% end %>
</div>
