<div class="text-center">
  <h1>Editer votre fiche FoodTruck</h1>
  <%= render 'formulaire' %>
  <p><%= link_to "INDEX", foodtrucks_path, class: "btn btn-primary" %></p>
  <p><%= link_to "SHOW", foodtruck_path(@foodtruck), class: "btn btn-primary" %></p>
</div>
