


<div class="container text-center">
  <h2><strong>Trouvez et réservez gratuitement l’un de nos Food Trucks partenaires.</strong></h2>
  <p>Nous nous occupons de la logistique liée à la venue du food truck jusque dans les moindres détails !</p>
  <hr>
  <div class="wrapper">
    <div class="row">
      <div class="card-home">
        <% @foodtrucks.each do |foodtruck| %>
          <div class="col-sm-6">
            <%= render "foodtrucks/card", foodtruck: foodtruck %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
