

<div class="text-center">
  <h1>My dishes</h1>
  <ul>
    <% @dishes.each do |dish| %>
      <li>
      <%= dish.name %>
      <%= link_to "VOIR PLUS", foodtruck_dish_path(@foodtruck, dish), class: "btn btn-primary" %>
      <h5><%= link_to "menus", new_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>
      </li>
    <% end %>
  </ul>
</div>


