
<div class="text-center">
  <h1>My dishes</h1>
  <ul>
    <% @dishes.each do |dish| %>
      <li>
      <%= dish.name %>
      <%= link_to "VOIR PLUS", foodtruck_dish_path(@foodtruck, dish), class: "btn btn-primary" %>

      </li>
    <% end %>
  </ul>



</div>
